<a href="/">Home</a>
<h1>Welcome to the beginning of everything, really.</h1>
  <p>
    Here, I will hone my craft, and become a gangster.
  </p>
  <ul>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
