<a href="/">Home</a>
<h1>Welcome to the beginning of everything, really.</h1>
  <p>
    Here, I will hone my craft set forth to become an original gangster.<br /> 
    In the meantime, some art I've either contributed to, or made using my canvas.
  </p>
  <ul>
    <li><a href="http://itempiece1.herokuapp.com" target="_blank">Pinterest Clone</a></li>
    <p>
      First ruby, and rails application I built. Moneyshot!
    </p>
    <li><a href="http://glass-overflowing.com" target="_blank">Capstone Project</a></li>
    <p>
      Capstone project culminated over a month, and incorported a nice laundry list of top of line tools.
    </p>
  </ul>
