<div class="row">
  <div class="col-md-6">
    <h1>Justin Veirs</h1>
  </div>
  <div class="col-md-3">
   <ul class="list-unstyled">
     <li>Somewhere this side of the orion belt</li>
     <li>M: 301.785.1480</li>
     <a href="mailto:justinveirs@gmail.com"><li>My Email</li></a>
   </ul>
  </div>
  <div class="col-md-3">
    <ul class="list-unstyled">
      <a href="https://github.com/cheezedigital"><li>Github, son</li></a>
      <a href="https://www.linkedin.com/pub/justin-veirs/73/179/9a4"><li>LinkedIn</li></a>
      <a href="https://twitter.com/JustinVeirs"><li>Twitter</li></a>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-3">
    <p>
      Languages:
    </p>
  </div>
  <div class="col-md-9">
    <p>
      Ruby. HTML(5). CSS(3). Javascript.
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <p>
      Javascript-related
    </p>
  </div>
  <div class="col-md-9">
    <p>
      JQuery. JQuery Plugins. AJAX. JSON
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <p>
      Frameworks:
    </p>
  </div>
  <div class="col-md-9">
    <p>
      Sinatra. Ruby on Rails. RSpec.
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <p>
      Services:
    </p>
  </div>
  <div class="col-md-9">
    <p>
      Github. Git. Heroku. Postgres. DNSimple. Twitter Bootstrap.
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <p>Experience</p>
  </div>
  <div class="col-md-9">
    <p>Devpointlabs, Salt Lake City, Utah					     5/2014-8/2014
      Web Development Immersive Student.
       -Intro to full stack web development: Cultivated technical skill in a full-
      time 11-week intensive Ruby and Rails bootcamp covering foundation.
      Product Service Associate 								1/2011-4-2014
      Lowe’s Home Improvement, Manassas, VA
      - Provide store support and product maintenance; complete management requests from vendors to relocate products to increase sales; conduct quality and inventory control as needed, and provide customer support when needed.
      - Consistently meet project deadlines to achieve or exceed sales expectations.
      Client Service Associate 									6/2005-10/2008
      Morgan Stanley Smith Barney, Bethesda, MD
      -Supported the brokerage team with portfolios, master-limited partnerships, mutual funds, and tax-free municipal bonds.
      -Collected, analyzed, and aggregated financial data and critiques investment models.
        </p>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <p>
      About me
    </p>
  </div>
  <div class="col-md-9">
    <p>
      I’m deeply passionate about expanding my knowledge with	ruby, rails, databases, github, hosting platforms, UI, and learning
more about the client side. My goal is to build out exquisite back end machines with polished client sides.

    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <p>
      Educaiton
    </p>
  </div>
  <div class="col-md-9">
    <p>
      The Citadel, The Military College Of South Carolina. May-2004	B.S. Business Administration
    </p>
  </div>
</div>
