<div class="justin">
  <div class="row">
    <div class="col-md-6">
      <h1>Justin Veirs</h1>
    </div>
    <div class="col-md-3">
     <ul class="list-unstyled">
       <li>Somewhere this side of the orion belt</li>
       <li>M: 301.785.1480</li>
       <a href="mailto:justinveirs@gmail.com"><li>Reach Out</li></a>
     </ul>
    </div>
    <div class="col-md-3">
      <ul class="list-unstyled">
        <a href="https://github.com/cheezedigital" target='_blank'><li>Github, son</li></a>
        <a href="https://www.linkedin.com/pub/justin-veirs/73/179/9a4" target='_blank'><li>LinkedIn</li></a>
        <a href="https://twitter.com/JustinVeirs" target='_blank'><li>Twitter</li></a>
      </ul>
    </div>
  </div>
</div>
<div class="justin2">
  <div class="row">
    <div class="col-md-3">
      <p>
        Languages:
      </p>
    </div>
    <div class="col-md-9">
      <p>
        Ruby. HTML(5). CSS(3). Javascript.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <p>
        Javascript-related
      </p>
    </div>
    <div class="col-md-9">
      <p>
        JQuery. JQuery Plugins. AJAX. JSON
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <p>
        Frameworks:
      </p>
    </div>
    <div class="col-md-9">
      <p>
        Sinatra. Ruby on Rails.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <p>
        Services:
      </p>
    </div>
    <div class="col-md-9">
      <p>
        Github. Git. Heroku. Postgres. DNSimple. Twitter Bootstrap. RSpec.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <p>Experience</p>
    </div>
    <div class="col-md-9">
      <p>Devpointlabs, Salt Lake City, Utah					     5/2014-8/2014<br />
        Web Development Immersive Student.<br />
        Intro to full stack web development:<br />
        Cultivated technical skills in a full time <strong>(90 hours per week)</strong> 11-week intensive Ruby and Rails bootcamp covering foundation.</p>

      <p>Product Service Associate 								       1/2011-4-2014<br />
        Lowe’s Home Improvement, Manassas, VA<br />
        Provide store support and product maintenance; complete management requests from vendors to relocate products to increase sales; conduct quality and inventory control as needed, and provide customer support when needed.<br />
        Consistently meet project deadlines to achieve or exceed sales expectations.</p>

        <p>Client Service Associate 									  6/2005-10/2008<br />
        Morgan Stanley Smith Barney, Bethesda, MD<br />
        Supported the brokerage team with portfolios, master-limited partnerships, mutual funds, and tax-free municipal bonds.<br />
        Collected, analyzed, and aggregated financial data and critiques investment models.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <p>
        About me
      </p>
    </div>
    <div class="col-md-9">
      <p>
        I’m deeply passionate about expanding my knowledge with	ruby, rails, databases, github, hosting platforms, UI, and learning
        more about the client side. My goal is to build out exquisite back end machines with polished client sides.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <p>
        Educaiton
      </p>
    </div>
    <div class="col-md-9">
      <p>
        The Citadel, The Military College Of South Carolina.<br /> May-2004	B.S. Business Administration
      </p>
      <p>
        Devpointlabs. Web Development Immersive. Salt Lake City, Utah. Aug-2014 Full Stack Web Development.
      </p>
    </div>
  </div>
</div>
